@tailwind base;
@tailwind components;
@tailwind utilities;


body{
  background-color: rgb(216, 230, 236);
}


.nav-link {
    padding: 0.5rem 1rem;
    text-decoration: none;
    color: #ffffff; /* Adjust the color as needed */
    border-radius: 0.25rem;
    transition: background-color 0.3s ease, color 0.3s ease;
  }

.nav-link:hover {
    background-color: white; /* Adjust the color as needed */
    color: #000000; /* Adjust the color as needed */
  }